@import url('https://fonts.googleapis.com/css2?family=Poppins');


/* -------------------------------------- Global -------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    direction: rtl;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li a{
    font-size: 22px;
    color: whitesmoke;
    
}

body , html {
    overflow-x: hidden;
}
ul li a:hover{
    color: white;
    
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.ctn {
    padding: 8px 15px;
    background:#fc036b;
    border-radius: 30px;
    color:whitesmoke
}
h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p {
    color: #7c7c7c; 
    padding: 0 40px;
}
/* -------------------------------------- Global -------------------------------------- */

/* -------------------------------------- Navbar -------------------------------------- */


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: red;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}
/* -------------------------------------- Navbar -------------------------------------- */

/* -------------------------------------- Header -------------------------------------- */

header{
    width: 100vw;
    height: 100vh;
    background-image:  url('img/El-Goli.jpg')  ;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
/* -------------------------------------- Mobile Menu -------------------------------------- */

.menu-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 40px;
    cursor: pointer; 
    display: none;
}
/* -------------------------------------- Mobile Menu -------------------------------------- */

/* -------------------------------------- Header -------------------------------------- */


/* -------------------------------------- Sections -------------------------------------- */

section{
    width: 80%;
    margin: 80px auto;

}
.title {
    text-align: center;
    font-size: 4vmin;
    color: darkblue;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
.row .col  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------------------- Sections -------------------------------------- */

/* -------------------------------------- Sections Famous -------------------------------------- */

.Section-Famous .row {
    margin-top: 50px;
}
.Section-Famous img {
    border: 3px solid #fc036b ;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
}

.Section-Famous .ctn {
    margin-top: 30px;
}
/* -------------------------------------- Sections Famous -------------------------------------- */

/* -------------------------------------- Sections Food -------------------------------------- */

.Section-Food {
    width: 100%;
    height: 100vh;
    background-image: url('img/Dolma2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.Food-content {
    width: 50%;
    padding: 50px;
    color: whitesmoke; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Food-content h1 {
    font-size: 7vmin;
}
.Food-content .line {
    margin-bottom : 50px;
}
.Food-content p {
    color: white;
}
.Food-content .ctn {
    margin-top: 40px;
}
.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
/* -------------------------------------- Sections Food -------------------------------------- */

/* -------------------------------------- Sections Places -------------------------------------- */

.Section-Places .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img {
    width: 300px;
    margin: 10px;
    border-radius: 20px;
}
.content-col h1 {
    font-size: 7vmin;
    color: #484872;
}
.content-col .line {
    margin-right: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin-right: -100px;
}
/* -------------------------------------- Sections Food -------------------------------------- */

/* -------------------------------------- Sections Footer -------------------------------------- */

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p {
    color: whitesmoke;  
    margin: 20px auto ;
}
/* -------------------------------------- Sections Footer -------------------------------------- */

/* -------------------------------------- Mobile Device -------------------------------------- */

@media only screen and (max-width:850px) {
/* -------------------------------------- NAv-Menu Mobile -------------------------------------- */

    .menu-btn{
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top:0px ; 
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
/* -------------------------------------- NAv-Menu Mobile -------------------------------------- */

/* -------------------------------------- Sections Mobile -------------------------------------- */

    .row{
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto; 
    }
    .col img {
        max-width: 90% ;
    }
/* -------------------------------------- Sections Mobile -------------------------------------- */

/* -------------------------------------- Food Mobile -------------------------------------- */

    .Food-content {
        width: 100%;
    }
/* -------------------------------------- Food Mobile -------------------------------------- */


/* -------------------------------------- Places Mobile -------------------------------------- */

    .Section-Places .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
/* -------------------------------------- Places Mobile -------------------------------------- */


/* -------------------------------------- Footer Mobile -------------------------------------- */

    .footer {
        padding: 10px;
    }
}
/* -------------------------------------- Footer Mobile -------------------------------------- */

/* -------------------------------------- Mobile Device -------------------------------------- */

/* -------------------------------------- Animation -------------------------------------- */

img {
    transition: transform .3s ease;
}
img:hover {
    transform : scale(1.05)
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.466);
}
li:hover {
    color: lime;
}

/* -------------------------------------- Animation -------------------------------------- */
